%h1 Clients

= link_to "Add client", [:new, :client], :class => 'button right'
%table
  %tr
    %th Name
    %th Website
    %th Product
    %th Current version
    %th Lastest version
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.website.try(:webaddress)
      %td
      %td
      %td
      %td.edit= link_to 'Edit', [:edit, client], :class => 'edit'
      %td.delete= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'